/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
.thought1 {
    font-family: 'Dancing Script', cursive;
}

.thought2 {
    font-family: 'Pacifico', cursive;
}

.thought3 {
    font-family: 'Sansita Swashed', cursive;
}